.container_entry {
    padding: 0 20px;
    font-family: Quicksand;
}

.container_entry .container_entry_container {
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    font-size: 12px;
}

.container_entry .container_entry_container .flex_container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.container_entry .container_entry_container .flex_container > div {
    width: 50%;
}