.GrowthReview .GrowthReview-content .grid-div {
    display: grid;
    grid-template-columns: 70fr 30fr;
    grid-column-gap: 30px;
    padding: 0 30px;
}

.GrowthReview .GrowthReview-content .grid-div .leftdiv h6 {
    width: 75%;
    text-align: justify;
}

.GrowthReview .GrowthReview-content .grid-div .rightdiv {
    padding: 20px;
    width: 100%;
    background-color: var(--lightgray);
    border: 1px solid lightgray;
    border-radius: 10px;
}

.GrowthReview .GrowthReview-content .grid-div .rightdiv .rightdiv-details {
    display: grid;
    grid-template-columns: 40fr 60fr;
    align-items: center;
}

.GrowthReview .GrowthReview-content .table .la-trash {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .GrowthReview .GrowthReview-content .grid-div {
        grid-template-columns: 60fr 40fr;
    }

    .GrowthReview .GrowthReview-content .grid-div .leftdiv h6 {
        width: 100% !important;
    }
}