.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PO_printUIView {
    padding: 20px;
    background-color: #fff;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PO_printUIView p {
    margin-bottom: 0 !important;
    font-size: 13px;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PO_printUIView h1,
.PO_printUIView h3 {
    text-decoration: underline;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Logos {
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Logos div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Logos img {
    width: 100%;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Top {
    display: flex;
    justify-content: space-between;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Top .PR_printUI_Top_select {
    display: grid;
    grid-template-columns: 40fr 60fr;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Top .PR_printUI_Top_select .selects {
    background-color: #ECF0F5;
    border: 0 !important;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Middle {
    padding: 30px 0;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Middle .PR_printUI_Grid {
    display: grid;
    grid-template-columns: minmax(20px, 5fr) minmax(200px, 30fr) minmax(200px, 30fr) minmax(50px, 8.33fr) minmax(50px, 8.33fr) minmax(50px, 5fr) minmax(50px, 5fr) minmax(50px, 8.33fr);
    /* grid-template-columns: 5fr 30fr 30fr 8.33fr 8.33fr 5fr 5fr 8.33fr !important; */
    overflow: auto;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Middle .PR_printUI_Grid div {
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
    padding: 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: auto;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Grid1 {
    display: grid;
    grid-template-columns: 5fr 95fr;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Grid1 div {
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
    padding: 5px 0;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Middle .PR_printUI_Grid input,
.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Middle .PR_printUI_Grid textarea,
.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Middle .PR_printUI_Grid select {
    border: 0 !important;
    height: max-content !important;
    padding: 0 10px !important;
    font-size: 13px;
    appearance: none;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .form-control:disabled {
    background: #fff;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Remarks {
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    border: 1px solid rgb(201, 201, 201);
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Remarks .DIVS {
    display: grid;
    grid-template-columns: 50fr 50fr;
    padding: 5px;
    border-bottom: 0 !important;
    border-right: 1px solid rgb(201, 201, 201);
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Remarks:last-child .DIVS {
    display: grid;
    grid-template-columns: 20fr 80fr;
}

.ViewPurchaseOrderContainer .ViewPurchaseOrderGridContainer .Right.RequestDetails .PreviewWindow .PR_printUI_Remark .DIVS {
    display: grid;
    grid-template-columns: 30fr 70fr;
}

.Employee_Requisition .Employee_Requisition_Right .RightButtonDiv {
    margin-bottom: 30px;
    cursor: pointer;
}

.Employee_Requisition .Employee_Requisition_Right .RightButtonDiv:hover .Box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Employee_Requisition .Employee_Requisition_Right .RightButtonDiv .Box {
    height: 100px;
    border-radius: 10px 0 0 10px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #fff;
}

.Employee_Requisition .Employee_Requisition_Right .RightButtonDiv .Box .circle {
    width: 70px;
    height: 70px;
    border: 1px solid lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Employee_Requisition .Employee_Requisition_Right .RightButtonDiv .Box .circle i {
    font-size: 40px;
    color: lightgray;
}

.Employee_Requisition .Employee_Requisition_Right .RightButtonDiv p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}