.access_management_page .search_div {
    position: relative;
}

.access_management_page .search_div .search_results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150%;
    max-height: 300px;
    z-index: 1;
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: auto;
}