.Attandence_Request_Div {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: -webkit-fill-available;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 12px;
    overflow: hidden;
}

.Attandence_Request_Div .dark {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.Attandence_Request_Div_Content2 {
    animation: popups .4s linear 1 forwards alternate;
    opacity: 0;
}

.Attandence_Request_Div .Attandence_Request_Div_Content {
    padding: 15px;
    background-color: #fff;
    opacity: 0;
    border-radius: 10px;
    width: 30%;
    max-height: 85vh;
    overflow-y: overlay;
    overflow-x: hidden;
    z-index: 1001;
    position: relative;
}

.Attandence_Request_Div .Attandence_Request_Div_Content .lar.cross {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    top: 15px;
    right: 15px;
    z-index: 1002;
}

@media only screen and (max-width: 1280px) {
    .Attandence_Request_Div .Attandence_Request_Div_Content {
        width: 40%;
    }
}

@media only screen and (max-width: 992px) {
    .Attandence_Request_Div .Attandence_Request_Div_Content {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .Attandence_Request_Div .Attandence_Request_Div_Content {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Attandence_Request_Div .Attandence_Request_Div_Content {
        width: 100%;
    }
}