.down {
    display: none;
}

.down .form-control {
    border: 1px solid lightgray !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
}

.Leave_Application_Details {
    width: 100%;
    padding: 20px;
    font-size: 12px !important;
}

.Leave_Application_Details .Leave_Application_Details_Grid {
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-column-gap: 30px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Left .DIV1 {
    display: flex;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
    height: max-content;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Left .DIV1 input {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 0 !important;
    font-size: 12px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Left .DIV1 i {
    padding: 10px;
    cursor: pointer;
    background-color: #ffff;
    font-size: 20px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Left .leave_requests {
    height: calc( 100vh - 85px);
    overflow: auto;
    padding: 0 3px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right {
    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-column-gap: 20px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right1 {
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right1 .Leave_Emp_Info {
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #ffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right1 .Leave_Emp_Info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right1 .Emp_Leave_Details {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox {
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-column-gap: 20px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave0 {
    background-color: #ddf5f5 !important;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave1 {
    background-color: #fbe2dd !important;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave2 {
    background-color: #d2edff !important;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave3 {
    background-color: #fef0d3 !important;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #ffff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    padding: 25px 0;
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave p {
    margin-bottom: 0;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave p:first-child {
    font-size: 20px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_BottomBox {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #ffff;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_BottomBox .BottomBox_info {
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    margin-bottom: 10px;
}

.Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_BottomBox .BottomBox_info div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(231, 231, 231);
}

@media only screen and (max-width: 1200px) {
    .Leave_Application_Details .Leave_Application_Details_Grid {
        grid-column-gap: 10px;
    }
    .Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right {
        grid-column-gap: 10px;
        grid-template-columns: 50fr 50fr;
    }
    .Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave {
        font-size: 10px !important;
    }
    .Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave p {
        margin-bottom: 0;
    }
    .Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right .Grid_Right2 .Right2_TopBox .TopBox_Leave p:first-child {
        font-size: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .Leave_Application_Details .Leave_Application_Details_Grid {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .Leave_Application_Details .Leave_Application_Details_Grid .Details_Grid_Right {
        display: block;
    }
}