.Descussion .createpost {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: Maersk;
    font-size: 12px;
}

.Descussion .createpost textarea {
    border: 0 !important;
    border-bottom: 1px dotted lightgray !important;
    font-size: 12px;
    background-color: var( --lightgray);
    border-radius: 0;
}

.Descussion .createpost i {
    font-size: 20px;
}

.Descussion .createpost .left {
    display: flex;
    justify-content: center;
    width: 70%;
}

.Descussion .createpost .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.Descussion .createpost .options {
    width: 33.33%;
    cursor: pointer;
    transition: .3s;
    font-size: 12px;
}

.Descussion .createpost .options:hover {
    color: var( --c-green);
}

.Descussion .createpost .options .btn {
    background-color: var( --c-green);
    color: #ffffff;
    width: 100%;
    display: block;
    transition: .5s;
    font-size: 12px;
    border-radius: 30px;
}

.Descussion .createpost .options .btn:hover {
    background-color: var( --dark-c-green);
    color: #fff;
    border: var( --dark-c-green) 1px solid;
}

@media only screen and (max-width: 1000px) {
    .Descussion .createpost {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .Descussion .createpost {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Descussion .createpost {
        width: 90%;
    }
    .Descussion .createpost .left {
        width: 100%;
        padding-bottom: 10px;
    }
    .Descussion .createpost .btns {
        width: 100%;
    }
    .Descussion .createpost .options-container {
        display: block !important;
        justify-content: start !important;
    }
}

@media only screen and (max-width: 450px) {
    .Descussion .createpost {
        width: 95%;
    }
    .Descussion .createpost .options-container {
        display: block !important;
        justify-content: start !important;
    }
    .Descussion .createpost .options {
        width: 100% !important;
        padding: 5px 0;
    }
    .Descussion .createpost .option1,
    .Descussion .createpost .option2 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .Descussion .createpost {
        width: 100%;
    }
}