.dashboard_homepage .grid-2 {
    display: grid;
    grid-template-columns: 50fr 50fr;
}

.grid-2-3 {
    display: grid;
    grid-template-columns: 30fr 70fr;
}

.g-gap-10 {
    grid-gap: 10px;
}

.g-gap-20 {
    grid-gap: 20px;
}

.g-gap-30 {
    grid-gap: 30px;
}

.dashboard_homepage .navs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    width: 95%;
    margin-left: auto;
}

.dashboard_homepage .navs .nav-items {
    background: none !important;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    width: 100%;
}

.dashboard_homepage .chart-div {
    position: relative;
}

.dashboard_homepage .chart-div.leaves {
    padding-right: 50px;
}

.dashboard_homepage .chart-div::after {
    position: absolute;
    content: "";
    left: 0;
    height: 10px;
    width: 100%;
    background-color: #ffff;
}

.dashboard_homepage .chart-div.leaves::after {
    bottom: 0px;
}

.dashboard_homepage .chart-div.item_requests::after {
    bottom: -3px;
}

.dashboard_homepage .list-container {
    max-height: 30vh;
    overflow-y: overlay;
}