.Employement_Request {
    width: 100%;
    padding-top: 30px;
}

.Employement_Request .Employement_Request-content {
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    font-family: Oxygen;
}

.Employement_Request .Employement_Request-content .search-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Quicksand;
    margin-bottom: 40px;
}

.Employement_Request .Employement_Request-content .Requests {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-family: Poppins;
    font-size: 12px;
}

.Employement_Request .Employement_Request-content .Requests .index {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 20px;
}

.Employement_Request .Employement_Request-content .Requests .colums {
    width: 25%;
}

.Employement_Request .Employement_Request-content .Requests span {
    color: rgb(128, 128, 128, .5);
}

.Employement_Request .Employement_Request-content .Requests p {
    font-size: 15px;
}