.ViewPrRequests .SearchnFilterDiv {
    display: grid;
    grid-template-columns: 30fr 70fr;
    background-color: white;
    padding: 15px 0;
    width: 97%;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ViewPrRequests .SearchnFilterDiv .searchdiv {
    margin: 0 15px;
    padding: 5px;
    display: flex;
    border-radius: 5px !important;
    background-color: rgba(236, 240, 245, 255);
}

.ViewPrRequests .SearchnFilterDiv input,
.ViewPrRequests .SearchnFilterDiv select {
    border: 0 !important;
    border-left: 1px solid lightgray !important;
    border-radius: 0 5px 5px 0;
    background: none;
    font-size: 12px;
}

.ViewPrRequests .SearchnFilterDiv .searchdiv div {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: rgba(236, 240, 245, 255);
    color: lightgray;
    border-radius: 5px 0 0 5px;
}

.ViewPrRequests .SearchnFilterDiv .filterdiv {
    display: flex;
}

.ViewPrRequests .SearchnFilterDiv .filterdiv div {
    background-color: rgba(236, 240, 245, 255);
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    /* width: 100%; */
    position: relative;
}

.ViewPrRequests .SearchnFilterDiv .filterdiv label {
    position: absolute;
    top: -25%;
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 0;
    padding: 0 5px;
    border-radius: 5px;
}

.ViewPrRequests .SearchnFilterDiv .filterdiv select,
.ViewPrRequests .SearchnFilterDiv .filterdiv input[type=date] {
    background-color: rgba(236, 240, 245, 255);
    border: 0 !important;
    border-radius: 5px;
    height: 100%;
}

.ViewPrRequests .SearchnFilterDiv .filterdiv select option {
    background-color: #fff;
}

.ViewPrRequests .SearchnFilterDiv .filtericon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 240, 245, 255);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: none;
}

@media only screen and (max-width: 992px) {
    .ViewPrRequests .SearchnFilterDiv {
        width: 99%;
        grid-template-columns: 40fr 60fr;
    }
    .ViewPrRequests .SearchnFilterDiv .filterdiv {
        display: none;
    }
    .ViewPrRequests .SearchnFilterDiv .filtericon {
        display: flex;
    }
    .ViewPrRequests .SearchnFilterDiv {
        width: 99%;
        grid-template-columns: 90fr 10fr;
    }
}

@media only screen and (max-width: 768px) {
    .ViewPrRequests .SearchnFilterDiv {
        width: 99%;
        grid-template-columns: 85fr 15fr;
    }
}